*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section{
width: 100%;
height: 100vh;
background: black;
display: flex;
align-items: center;
justify-content: center;
}
.home1{
    background: black;
    width: 100%;
    height: 100vh;
    display: flex;
align-items: center;
justify-content: center;
}
.right{
    background-color: white;
    width: 100%;
    height: 100vh;
    display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.list2{
height: 60px;
opacity: 0.1;
margin-top: 15px;}
.left{
    background: white;
    box-shadow: 0opx 0px 30px white;
    width: 100%;
    height: 100vh;
    display: flex;
align-items: flex-end;
justify-content: center;
flex-direction: column;
}
h1{
    font-size: 5em;
    border-bottom: solid 2px black;
    opacity: 0.8;
}
p{
    margin-top: 20px;
    font-size: 2em;
    opacity: 0.7; 
    text-transform: capitalize;
}
.btn{
color: white;
background-color: black;
padding: 10px;
text-decoration: none;
text-transform: capitalize;
border-radius: 5px;
font-size: 1.8em;
box-shadow: 1px 1px 15px gray;
animation: myfirst 1s linear 0.5s infinite ;

}
@keyframes myfirst {
    0%   {border: solid 2px  gray;}
    100% {border: solid 4px  red;}
  }
.btn:hover{
background-color: gray;
color: black;
animation: myirst 0.5s linear infinite ;

}
@keyframes myirst {
    0%   {border: solid 2px  white;}
    100% {border: solid 4px  greenyellow;}
  }

.btn:active{
    padding: 9px;
}

.imago{
    height: 30px;
    padding: 5px;
    opacity: 0.7;

}
.list1{
    margin: 10px;
    margin-top: 15px;
    padding: 5px;
    color: gray;
    opacity: 0.9;
    text-transform: capitalize;

}
.claim{
    background: red;
    width: 100%;
    height: 100vh;
    display: flex;
align-items: center;
justify-content: center;
animation: color-change-5x 8s linear infinite alternate-reverse both;

}
@keyframes color-change-5x {
    0% {
      background: #19dcea;
    }
    25% {
      background: #b22cff;
    }
    50% {
      background: #ea2222;
    }
    75% {
      background: #f5be10;
    }
    100% {
      background: #3bd80d;
    }
  }
  
.box1 {
    background: white;
    width: 30%;
    height: 80vh;
    display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
border-radius: 20px;
box-shadow: 1px 1px 15px white;
}
.home-page-back{
    position: fixed;
    right: 10px;
    bottom: 0;
    opacity: 0.5;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 2em;
    color: black;
}
.tage{
    display: none;
}

@media only screen and (max-width: 640px){

    .box1 {
        background: white;
        width: 80%;
        height: 80vh;
        display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 20px;
    box-shadow: 1px 1px 15px white;
    }
    .home1{
        background: black;
        width: 100%;
        height: 100vh;
        display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
.left{
   display: none;
}
.tage{
    display: block;
}
}